In [1]:

import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("https://raw.githubusercontent.com/iamdipsan/100-Days-ML/refs/heads/main/day-27/cars.csv")

In [3]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [8]:
df['brand'].value_counts()

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Land                6
Force               6
Isuzu               5
Ambassador          4
Kia                 4
MG                  3
Daewoo              3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [9]:

df['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

In [10]:
X=df.drop(columns='selling_price')
y=df['selling_price']

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [14]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(drop='first', sparse_output=False)  # use sparse_output instead of sparse

ohe.fit(X_train[['fuel']])
X_train_transformed = ohe.transform(X_train[['fuel']])
X_test_transformed = ohe.transform(X_test[['fuel']])

In [16]:
column_names = ohe.get_feature_names_out(['fuel'])

In [17]:
column_names

array(['fuel_Diesel', 'fuel_LPG', 'fuel_Petrol'], dtype=object)

In [19]:
X_train_transformed=pd.DataFrame(X_train_transformed,columns=column_names)
X_test_transformed=pd.DataFrame(X_test_transformed,columns=column_names)

In [20]:
X_train_transformed.head()

   fuel_Diesel  fuel_LPG  fuel_Petrol
0          0.0       1.0          0.0
1          1.0       0.0          0.0
2          1.0       0.0          0.0
3          1.0       0.0          0.0
4          0.0       0.0          1.0

In [21]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
model = RandomForestRegressor(random_state=42)

# Fit model on training data
model.fit(X_train_transformed, y_train)

# Predict on test data
y_pred = model.predict(X_test_transformed)

# Evaluate
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 628162280841.0703

In [24]:

X_predict=['Maruti',1000,1.0,'First Owner']
result=model.predict(X_predict)
print(result)

/usr/local/lib/python3.11/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

ValueError: could not convert string to float: 'Maruti'